/* This document is for colors, fonts, padding, margins, etc */
body {
	background-color: white;
	padding: 0;
	margin: 0;
}
/* Essentially, this makes the body colour white with 0 padding and 0 margins. Makes it so that the site background is white */
/* Position absolute ensures the header is constantly at the top-right, with the top and right both being 0 to ensure this */
header {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #333;
	font-family: Noto Sans;
	color: white;
	height: 30px;
	padding-top: 16px;
	padding-bottom: 2px;
	padding-right: 20px;
	margin: 0;
	margin-bottom: 0;
	text-align: right;
}

h1 {
	background-color: #225d6e;
	color: white;
	font-family: Noto Sans;
	padding-top: 20px;
	padding-left: 20px;
	margin: 0;
	height: 60px;
}

h2 {
	background-color: #333;
	color: white;
	font-family: Noto Sans;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 30px;
	margin: 0;
	margin-bottom: 5px;
}

p {
	font-family: Arial;
	padding-left: 5px;
	margin: 0;
	margin-bottom: 5px;
}
/* Makes the images have a border, set their size, and float to the right or left of the text of the site */
.image3 {
	border: solid 1px black;
	width: 40%;
	height: auto;
	float: right;
	margin-right: 5px;
	margin-left: 4px;
}
/* Utilizes different div classes due to the different positioning and size of each image */
.image2 {
	border: solid 1px black;
	width: 25.7%;
	height: auto;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}

.image1 {
	border: solid 1px black;
	width: 45%;
	height: auto;
	float: right;
	margin-right: 5px;
	margin-left: 4px;
}
/* The header is in a different class than other "a" links due to it's unique position in the top-right */
.header {
	font-family: Noto Sans;
	color: white;
}

a {
	padding-left: 5px;
	font-family: Arial;
	margin: 0px;
	margin-bottom: 2px;
}
/* Sets up the footer to be at the center, it's height, and etc */
footer {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 10px;
	font-family: Noto Sans;
	height: 20px;
	background-color: #333;
	color: white;
	margin-top: 5px;
}
/* Sets up the wrapper class to use flex and be in a column format - makes things adaptable, especially important for the footer */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/* Below is code for the boxes all over the site, in different classes due to how things are. Border is the one that makes the boxes - the other variables are for things like positioning and size */
.profilelowertext {
	width: 97.5%;
	height: 64px;
	border: solid 1px black;
	margin: auto;
	padding: 10px;
}

.profiletext {
	width: 72.7%;
	height: 280px;
	border: solid 1px black;
	margin-left: auto;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 2px;
}

.contacts {
	margin: auto;
	width: 40%;
	border: solid 1px black;
	background-color: white;
	padding: 5px;
}

.welcometext {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 52.5%;
	height: 391.5px;
	border: solid 1px black;
	padding: 5px;
}

.welcomelastparagraph {
	margin: auto;
	width: 97.5%;
	height: 100px;
	border: solid 1px black;
	padding: 10px
}

.about {
	border: solid 1px black;
	height: 343px;
	width: 58.5%;
	margin-left: 5px;
	margin-right: 5px;
}

/* All code above is essentially images, boxes, text fonts, etc */
/* Below is code from outside sources, mainly for the nav bar :( modified for things like fonts, colours, etc */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  height: 47.5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: Noto Sans;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #188ba8;
  color: white;
}
